.commentSubmit {
	background-color: #B7B7B7; /* Grey */
 	color: white;
}

/* #4CAF50 Green */

.commentSubmit:hover {
	background-color: #9E9E9E; /* Darker Grey */
 	color: white;
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(-135deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}